@use 'variables';

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin submenu {
  position: absolute;
  top: 3rem;
  padding: 1.5rem;
  border-radius: variables.$global-radius;
  background-color: white;
  box-shadow: 0 1rem 2rem hsl(0, 0%, 41%, 0.2);
  z-index: 10;
}

@mixin sm-desktop {
  @media (max-height: 700px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 56.25rem) {
    @content;
  }
}
