@use 'global';
@use 'mixins';
@use 'variables';

$header: '.l-header';
$menuMobile: '.c-dropdown__menu';
$overlay: '.c-overlay';
$content: '.c-content';

#{$header} {
  padding-top: 0.9375rem;

  .c-navbar {
    @include mixins.center;
    justify-content: space-between;
    width: min(85rem, 90%);
    margin: 0 auto;
    gap: 3rem;

    .btn__menu {
      display: none;
      background: url(../images/icon-menu.svg) center no-repeat;
      border: none;
      cursor: pointer;
      height: 1.625rem;
      position: relative;
      width: 1.625rem;
      transition: all 0.2s ease-out;
      z-index: 20;

      @include mixins.mobile {
        display: block;
      }

      &.close {
        position: fixed;
        right: 1.125rem;
        background: url(../images/icon-close-menu.svg) center no-repeat;
      }
    }

    .c-menu {
      flex: 1 1 auto;
      display: flex;
      align-items: center;
      height: 3.125rem;
      gap: 2rem;

      @include mixins.mobile {
        display: none;
      }

      .dropdown {
        position: relative;
        margin-right: 1rem;
        display: flex;
        align-items: center;

        &::after {
          content: url(../images/icon-arrow-down.svg);
          position: absolute;
          right: -1rem;
        }

        .c-dropdown__main {
          @include mixins.dropdown;
          max-height: 0;
          opacity: 0;
          transition: all 0.3s ease-in-out 0.2s;

          .c-menu__link {
            @include mixins.center;
            width: max-content;
            gap: 1rem;
          }
        }

        .c-dropdown__main.left {
          left: 0;
        }
        .c-dropdown__main.right {
          right: -1.25rem;
        }

        &:hover {
          &::after {
            content: url(../images/icon-arrow-up.svg);
          }
          .c-dropdown__main {
            padding: 1.5rem;
            max-height: 20rem;
            opacity: 1;
          }
        }
      }
    }

    .c-auth__area {
      @include mixins.center;
      gap: 2rem;

      @include mixins.mobile {
        display: none;
      }

      .btn {
        @include mixins.center;
        border: 1px solid variables.$gray-400;
        border-radius: 10px;
        height: 40px;
        width: 100px;

        &:hover {
          border-color: variables.$black-800;
        }
      }
    }
  }
}

#{$menuMobile} {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  position: fixed;
  background-color: white;
  padding: 5rem 1.5rem;
  inset: 0;
  left: 30%;
  transition: all 0.4s ease-out;
  z-index: 10;

  &.hidden {
    transform: translateX(100%);
    opacity: 0;
  }

  &--item {
    position: relative;

    &:not(:nth-of-type(1n + 3)) {
      #{$menuMobile}--link {
        &::after {
          content: url(../images/icon-arrow-down.svg);
          margin-left: 0.625rem;
        }
      }

      .c-dropdown__submenu {
        max-height: 0;
        opacity: 0;
        transition: all 0.3s ease-out 0.2s;

        &--item {
          &:not(:last-of-type) {
            margin-bottom: 1rem;
          }
        }
      }

      &:hover {
        #{$menuMobile}--link {
          &::after {
            content: url(../images/icon-arrow-up.svg);
            margin-left: 10px;
          }
        }

        .c-dropdown__submenu {
          padding: 1.5rem;
          max-height: 10rem;
          opacity: 1;
        }
      }
    }
  }

  &--link {
    font-weight: 700;
  }
}

#{$overlay} {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 0.4s;
  opacity: 1;
  animation: show 0.4s;

  &.hidden {
    display: none;
  }
}

.l-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min(74vh, 50rem);
  max-width: 71.5rem;
  margin: 4rem auto 0;

  @include mixins.mobile {
    margin-top: 2rem;
    grid-template-areas: 'a' 'b';
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }

  #{$content} {
    position: relative;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @include mixins.sm-desktop {
      width: 75%;
    }

    @include mixins.mobile {
      margin-top: 2rem;
      text-align: center;
      width: 100%;
      align-items: center;
    }

    &--title {
      font-weight: 700;
      font-size: 4.8rem;

      @include mixins.sm-desktop {
        font-size: 4rem;
      }

      @include mixins.mobile {
        font-size: 2.25rem;
      }
    }

    &--description {
      margin-top: 4.125rem;
      font-size: 1.125rem;
      color: variables.$gray-400;
      line-height: 1.75rem;
      width: 90%;

      @include mixins.sm-desktop {
        margin-top: 2rem;
        font-size: 1rem;
      }

      @include mixins.mobile {
        margin-top: 2rem;
        font-size: 1rem;
      }
    }

    &--more {
      margin-top: 4.125rem;
      height: 3.5rem;
      width: 10.25rem;
      background-color: variables.$black-800;
      border-radius: 0.625rem;
      border: none;
      color: white;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.6s;

      @include mixins.sm-desktop {
        margin-top: 2rem;
      }

      @include mixins.mobile {
        margin-top: 2rem;
      }

      &:hover {
        background-color: variables.$white;
        border: 1px solid variables.$black-800;
        color: variables.$black-800;
      }
    }

    &__colab {
      position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: center;
      gap: 2.375rem;

      @include mixins.mobile {
        width: 90%;
        position: static;
        margin: 3rem 0 5rem;
        gap: 1.75rem;
      }

      &--item {
        img {
          width: 100%;
        }
      }
    }
  }

  .c-image__wrap {
    background: url(../images/image-hero-desktop.png) no-repeat;
    background-size: contain;
    background-position: right;

    @include mixins.mobile {
      grid-area: a;
      height: 80vw;
      background: url(../images/image-hero-mobile.png) no-repeat;
      background-size: contain;
    }
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
