*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Epilogue", sans-serif;
}

body {
  background-color: #fafafa;
  min-height: 100vh;
}

ul {
  list-style: none;
}

a {
  color: dimgray;
  text-decoration: none;
  transition: all 0.3s;
  cursor: pointer;
}
a:hover {
  color: #141414;
}

.c-navbar {
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}
@media (max-width: 56.25rem) {
  .c-navbar {
    padding: 1rem;
  }
}

.c-menu__btn {
  display: none;
  background: url(../images/icon-menu.svg) center no-repeat;
  border: none;
  cursor: pointer;
  height: 1.625rem;
  position: relative;
  width: 1.625rem;
  transition: all 0.2s ease-out;
  z-index: 20;
}
@media (max-width: 56.25rem) {
  .c-menu__btn {
    display: block;
  }
}
.c-menu__btn--close {
  position: fixed;
  right: 1rem;
  background: url(../images/icon-close-menu.svg) center no-repeat;
}

.c-menu {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  height: 3.125rem;
  gap: 2rem;
}
@media (max-width: 56.25rem) {
  .c-menu {
    position: fixed;
    inset: 0;
    height: 100vh;
    left: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    background-color: white;
    padding: 5rem 1.5rem;
    z-index: 10;
    transform: translateX(100%);
    transition: all 0.3s ease-out;
    opacity: 0;
  }
}
.c-menu__item {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 56.25rem) {
  .c-menu__item {
    height: fit-content;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }
}
.c-menu__item:hover .c-menu__submenu {
  display: block;
  max-height: 12rem;
  padding: 1.5rem;
}
@media (max-width: 56.25rem) {
  .c-menu__item:hover .c-menu__submenu {
    padding: 1rem;
  }
}
.c-menu__item:hover .c-menu__link__arrow::before {
  content: url(../images/icon-arrow-up.svg);
}
.c-menu__item .c-menu__submenu {
  position: absolute;
  top: 3rem;
  padding: 1.5rem;
  border-radius: 0.625rem;
  background-color: white;
  box-shadow: 0 1rem 2rem rgba(105, 105, 105, 0.2);
  z-index: 10;
  max-height: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  transition: all 0.3s ease 0.2s;
}
@media (max-width: 56.25rem) {
  .c-menu__item .c-menu__submenu {
    position: static;
    box-shadow: none;
  }
}
.c-menu__item .c-menu__submenu--left {
  right: 0;
}
.c-menu__item .c-menu__submenu__item {
  width: max-content;
}
.c-menu__item .c-menu__submenu__item:not(:last-of-type) {
  margin-bottom: 1rem;
}
.c-menu__item .c-menu__submenu__icon {
  margin-right: 0.5rem;
}
.c-menu__link {
  position: relative;
}
.c-menu__link__arrow {
  padding-right: 1rem;
}
.c-menu__link__arrow::before {
  content: url(../images/icon-arrow-down.svg);
  position: absolute;
  right: 0;
  top: -2px;
}

.c-menu.is-visible {
  transform: translateX(0);
  opacity: 1;
}

.c-auth__area {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
@media (max-width: 56.25rem) {
  .c-auth__area {
    display: none;
  }
}
.c-auth__area .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid dimgray;
  border-radius: 10px;
  height: 40px;
  width: 100px;
}
.c-auth__area .btn:hover {
  border-color: #141414;
}

.l-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min(74vh, 50rem);
  max-width: 71.5rem;
  width: 90%;
  margin: 4rem auto 0;
}
@media (max-width: 56.25rem) {
  .l-main {
    width: 100%;
    margin-top: 2rem;
    grid-template-areas: "a" "b";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }
}
.l-main .c-content {
  position: relative;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media (max-height: 700px) {
  .l-main .c-content {
    width: 75%;
  }
}
@media (max-width: 56.25rem) {
  .l-main .c-content {
    margin-top: 2rem;
    text-align: center;
    width: 100%;
    align-items: center;
  }
}
.l-main .c-content--title {
  font-weight: 700;
  font-size: 4.8rem;
}
@media (max-height: 700px) {
  .l-main .c-content--title {
    font-size: 4rem;
  }
}
@media (max-width: 56.25rem) {
  .l-main .c-content--title {
    font-size: 2.25rem;
  }
}
.l-main .c-content--description {
  margin-top: 4.125rem;
  font-size: 1.125rem;
  color: dimgray;
  line-height: 1.75rem;
  width: 90%;
}
@media (max-height: 700px) {
  .l-main .c-content--description {
    margin-top: 2rem;
    font-size: 1rem;
  }
}
@media (max-width: 56.25rem) {
  .l-main .c-content--description {
    margin-top: 2rem;
    font-size: 1rem;
  }
}
.l-main .c-content--more {
  margin-top: 4.125rem;
  height: 3.5rem;
  width: 10.25rem;
  background-color: #141414;
  border-radius: 0.625rem;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.6s;
}
@media (max-height: 700px) {
  .l-main .c-content--more {
    margin-top: 2rem;
  }
}
@media (max-width: 56.25rem) {
  .l-main .c-content--more {
    margin-top: 2rem;
  }
}
.l-main .c-content--more:hover {
  background-color: #fafafa;
  border: 1px solid #141414;
  color: #141414;
}
.l-main .c-content__colab {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  gap: 2.375rem;
}
@media (max-width: 56.25rem) {
  .l-main .c-content__colab {
    width: 90%;
    position: static;
    justify-content: center;
    margin: 3rem 0 5rem;
    gap: 1.75rem;
  }
}
.l-main .c-content__colab--item img {
  width: 100%;
}
.l-main .c-image__wrap {
  background: url(../images/image-hero-desktop.png) no-repeat;
  background-size: contain;
  background-position: right;
}
@media (max-width: 56.25rem) {
  .l-main .c-image__wrap {
    grid-area: a;
    height: 80vw;
    background: url(../images/image-hero-mobile.png) no-repeat;
    background-size: contain;
  }
}

/*# sourceMappingURL=style.css.map */
