*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Epilogue", sans-serif;
}

body {
  background-color: #fafafa;
  min-height: 100vh;
}

ul {
  list-style: none;
}

a {
  color: dimgray;
  text-decoration: none;
  transition: all 0.3s;
  cursor: pointer;
}
a:hover {
  color: #141414;
}

.l-header {
  padding-top: 0.9375rem;
}
.l-header .c-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: min(85rem, 90%);
  margin: 0 auto;
  gap: 3rem;
}
.l-header .c-navbar .btn__menu {
  display: none;
  background: url(../images/icon-menu.svg) center no-repeat;
  border: none;
  cursor: pointer;
  height: 1.625rem;
  position: relative;
  width: 1.625rem;
  transition: all 0.2s ease-out;
  z-index: 20;
}
@media (max-width: 900px) {
  .l-header .c-navbar .btn__menu {
    display: block;
  }
}
.l-header .c-navbar .btn__menu.close {
  position: fixed;
  right: 1.125rem;
  background: url(../images/icon-close-menu.svg) center no-repeat;
}
.l-header .c-navbar .c-menu {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  height: 3.125rem;
  gap: 2rem;
}
@media (max-width: 900px) {
  .l-header .c-navbar .c-menu {
    display: none;
  }
}
.l-header .c-navbar .c-menu .dropdown {
  position: relative;
  margin-right: 1rem;
  display: flex;
  align-items: center;
}
.l-header .c-navbar .c-menu .dropdown::after {
  content: url(../images/icon-arrow-down.svg);
  position: absolute;
  right: -1rem;
}
.l-header .c-navbar .c-menu .dropdown .c-dropdown__main {
  position: absolute;
  top: 3.125rem;
  align-items: flex-start;
  border-radius: 0.625rem;
  background-color: white;
  box-shadow: 0 1rem 2rem rgba(105, 105, 105, 0.2);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: all 0.3s ease-in-out 0.2s;
}
.l-header .c-navbar .c-menu .dropdown .c-dropdown__main .c-menu__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  gap: 1rem;
}
.l-header .c-navbar .c-menu .dropdown .c-dropdown__main.left {
  left: 0;
}
.l-header .c-navbar .c-menu .dropdown .c-dropdown__main.right {
  right: -1.25rem;
}
.l-header .c-navbar .c-menu .dropdown:hover::after {
  content: url(../images/icon-arrow-up.svg);
}
.l-header .c-navbar .c-menu .dropdown:hover .c-dropdown__main {
  padding: 1.5rem;
  max-height: 20rem;
  opacity: 1;
}
.l-header .c-navbar .c-auth__area {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
@media (max-width: 900px) {
  .l-header .c-navbar .c-auth__area {
    display: none;
  }
}
.l-header .c-navbar .c-auth__area .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid dimgray;
  border-radius: 10px;
  height: 40px;
  width: 100px;
}
.l-header .c-navbar .c-auth__area .btn:hover {
  border-color: #141414;
}

.c-dropdown__menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  position: fixed;
  background-color: white;
  padding: 5rem 1.5rem;
  inset: 0;
  left: 30%;
  transition: all 0.4s ease-out;
  z-index: 10;
}
.c-dropdown__menu.hidden {
  transform: translateX(100%);
  opacity: 0;
}
.c-dropdown__menu--item {
  position: relative;
}
.c-dropdown__menu--item:not(:nth-of-type(1n + 3)) .c-dropdown__menu--link::after {
  content: url(../images/icon-arrow-down.svg);
  margin-left: 0.625rem;
}
.c-dropdown__menu--item:not(:nth-of-type(1n + 3)) .c-dropdown__submenu {
  max-height: 0;
  opacity: 0;
  transition: all 0.3s ease-out 0.2s;
}
.c-dropdown__menu--item:not(:nth-of-type(1n + 3)) .c-dropdown__submenu--item:not(:last-of-type) {
  margin-bottom: 1rem;
}
.c-dropdown__menu--item:not(:nth-of-type(1n + 3)):hover .c-dropdown__menu--link::after {
  content: url(../images/icon-arrow-up.svg);
  margin-left: 10px;
}
.c-dropdown__menu--item:not(:nth-of-type(1n + 3)):hover .c-dropdown__submenu {
  padding: 1.5rem;
  max-height: 10rem;
  opacity: 1;
}
.c-dropdown__menu--link {
  font-weight: 700;
}

.c-overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 0.4s;
  opacity: 1;
  animation: show 0.4s;
}
.c-overlay.hidden {
  display: none;
}

.l-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 74vh;
  max-width: 71.5rem;
  margin: 4rem auto 0;
}
@media (max-width: 900px) {
  .l-main {
    margin-top: 2rem;
    grid-template-areas: "a" "b";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }
}
.l-main .c-content {
  position: relative;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media (max-width: 900px) {
  .l-main .c-content {
    margin-top: 2rem;
    text-align: center;
    width: 100%;
    align-items: center;
  }
}
.l-main .c-content--title {
  font-weight: 700;
  font-size: 4.8rem;
}
@media (max-width: 900px) {
  .l-main .c-content--title {
    font-size: 2.25rem;
  }
}
.l-main .c-content--description {
  margin-top: 4.125rem;
  font-size: 1.125rem;
  color: dimgray;
  line-height: 1.75rem;
  width: 90%;
}
@media (max-width: 900px) {
  .l-main .c-content--description {
    margin-top: 2rem;
    font-size: 1rem;
  }
}
.l-main .c-content--more {
  margin-top: 4.125rem;
  height: 3.5rem;
  width: 10.25rem;
  background-color: #141414;
  border-radius: 0.625rem;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.6s;
}
@media (max-width: 900px) {
  .l-main .c-content--more {
    margin-top: 2rem;
  }
}
.l-main .c-content--more:hover {
  background-color: #fafafa;
  border: 1px solid #141414;
  color: #141414;
}
.l-main .c-content__colab {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  gap: 2.375rem;
}
@media (max-width: 900px) {
  .l-main .c-content__colab {
    width: 90%;
    position: static;
    margin: 3rem 0 5rem;
    gap: 1.75rem;
  }
}
.l-main .c-content__colab--item img {
  width: 100%;
}
.l-main .c-image__wrap {
  background: url(../images/image-hero-desktop.png) no-repeat;
  background-size: contain;
  background-position: right;
}
@media (max-width: 900px) {
  .l-main .c-image__wrap {
    grid-area: a;
    height: 80vw;
    background: url(../images/image-hero-mobile.png) no-repeat;
    background-size: contain;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
